.select-menu {
    margin: 20px;
    padding: 10px 30px;
}
.content-select {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border-radius: 25px;
    outline: none;
}