<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://binary-bit-lab.github.io/FunMC/static/style.css">
    <link rel="stylesheet" href="https://binary-bit-lab.github.io/FunMC/static/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>FunMC</title>
</head>
<body>
    <header>
        <nav>
            <div class="brand">
                <h1>FunMC</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="smp.html">SMP</a></li>
                <li><a href="skyblock.html">Skyblock</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="wrapper">
            <form action="">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="remember">
                    <label><input type="checkbox">Remember Me</label>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="note">
                    <p><a>Note:</a> Add .(dot) in front of your username and _(underscore) inplace of spaces if you are a bedrock edition player.</p>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
